
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Recipes Book</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/Recipes']" routerLinkActive="active" style="cursor: pointer;">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/shoppinglist']" routerLinkActive="active" style="cursor: pointer;">
            Shopping List
          </a>
        </li>
      </ul>
      <ul class="navbar-nav me-1">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Manage</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a href="#" class="dropdown-item">Add Data</a></li>
            <li><a href="#" class="dropdown-item">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

