<ng-template [ngIf]="recipe.name !== ''">
    <div class="row">
        <div class="col-xs-12">
            <img [src]="recipe.imageUrl" [alt]="recipe.name" class="img-fluid" style="max-height: 150px">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ recipe.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            
            <div class="btn-group">
                <button 
                        type="button"
                        id="btnGroupDropRecipeDetials" 
                        class="btn btn-primary dropdown-toggle" 
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                >
                    Manage Recipe
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDropRecipeDetials"> 
                        <li><a class="dropdown-item">To Shopping List</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/Recipes', index, 'form', 'edit']">Eidt Recipe</a></li>
                        <li><a class="dropdown-item">Delete Recipe</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{ recipe.description }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                    {{ ingredient.name }} --- {{ingredient.amount}}
                </li>
            </ul>
        </div>
    </div>
</ng-template>


<ng-template [ngIf]="recipe.name === ''" #NoSelectionOfRecipe>
    <p class="text-danger">
        please select a recipe!
    </p>
</ng-template>