<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Recipe Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <div class="btn-group" role="group">
                <button 
                    type="button"
                    id="btnGroupDropRecipeDetials" 
                    class="btn btn-primary dropdown-toggle" 
                    data-toggle="dropdown"
                    aria-haspopup="true" 
                    aria-expanded="false"
                >
                Manage Recipe
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDropRecipeDetials">
                    <li><a class="dropdown-item" href="#">To Shopping List</a></li>
                    <li><a class="dropdown-item" href="#">Eidt Recipe</a></li>
                    <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Description
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>

