<div class="row justify-content-center my-5">
    <div class="col-sm-8 border rounded-3 border-2 p-4 shadow">
        <h3 class="my-3">
            Recipe Control
        </h3>
        <form class="form-group">
            <label for="recipeName" class="form-label">Recipe Name:</label>
            <input type="text" class="form-control" id="recipeName">
            <label for="recipeDescription" class="form-label">Recipe Description:</label>
            <input type="text" class="form-control" id="recipeDescription">
            <label for="recipeImageUrl" class="form-label">Recipe Image URL:</label>
            <input type="url" class="form-control" id="recipeImageUrl">
            <label for="recipeIngredients" class="form-label">Recipe ingredients:</label>
            <input type="text" class="form-control" id="recipeIngredients">
        </form>
        <button class="btn btn-primary btn-lg mt-2 w-50">
            Save
        </button>
    </div>
</div>