<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">
            Add New Recipe
        </button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group mt-2" style=" list-style-type: none;">
            <a href="#" class="list-group-item list-group-item-action clearfix" *ngFor="let recipe of recipes">
                <div class="float-end">
                    <h4 class="list-group-item-header">{{ recipe.name }}</h4>
                    <p class="list-group-item-text">{{ recipe.description }}</p>
                </div>
                <span class="float-start">
                    <img [src]="recipe.imageUrl" [alt]="recipe.name" class="img-fluid img-thumbnail my-1" style="max-height: 70px;">
                </span>
            </a>

        </ul>
        <app-recipe-item></app-recipe-item>
    </div>
</div>

